{% extends 'core/base.html' %}
{% block content %}
<main role="main" class="container">
    <div class="row">
      <div class="col-md-12 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom"></h3>
        <div class="blog-post">
          <h2 class="blog-post-title">Sobre mim</h2>
            <div class="blog-post-meta">
                Teste
            </div>
          <p>Programador:</p>
          <p>Python com Django</p>
        </div>

      </div><!-- /.blog-main -->

    </div><!-- /.row -->

</main><!-- /.container -->
{% endblock %}