{% extends 'core/base.html' %}
{% block content %}
<head>
  <title>Sobre mim</title>
</head>
<main role="main" class="container">
    <div class="row">
      <div class="col-md-12 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom"></h3>
        <div class="blog-post">
          <h2 class="blog-post-title">Sobre mim</h2>
            <div class="blog-post-meta">
                Saiba mais quem sou eu e o que faço
            </div>
          <p>Olá! Meu nome é Isaías Pereira. Sou desenvolvedor web e pentester, crio aplicações do zero sejam elas com ou sem framework e faço testes de invasão em sistemas. Desenvolvo há aproximadamente três anos. Forneço soluções completas conforme as necessidades do cliente.</p>
          <h4>Saiba mais sobre minhas Skills</h4>
          <div class="blog-post-meta">
            Como desenvolvedor
          </div>
          <p>Tenho conhecimentos em HTML5, CSS3, JavaScript, Python3 e SQL. Utilizo alguns frameworks como Django e Bootstrap.</p>
          <div class="blog-post-meta">
            Como Pentester
          </div>
          <p>Tenho conhecimento para usar a ferramenta Metasploit.
            Técnico em telecomunicações e com certificado em redes de comutadores pelo CCNA.
            Analista de vulnerabilidades em servidores e paginas web.
            Pentester e analista de segurança em redes e sistemas.</p>
          <h4>Meus Repositórios no GitHub e GitLab</h4>
          <p><a href="https://gitlab.com/hackthebit01">https://gitlab.com/hackthebit01</a></p>
          <p><a href="https://github.com/isaiaspereira307">https://github.com/isaiaspereira307</a></p>
        </div>

      </div><!-- /.blog-main -->

    </div><!-- /.row -->

</main><!-- /.container -->
{% endblock %}