{% extends 'core/base.html' %}
{% block content %}
<main role="main" class="container">
    <div class="row">
      <div class="col-md-12 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom"></h3>
        <div class="blog-post">
          <h2 class="blog-post-title">{{ post.subtopico }}</h2>
          {% if post.data_publicacao %}
              <div class="blog-post-meta">
                  {{ post.data_publicacao }}
              </div>
          {% endif %}
          <p>{{ post.descricao }}</p>
          <p>{{ post.post|linebreaksbr }}</p>
        </div>

        <nav class="blog-pagination">
          <a class="btn btn-outline-primary" href="#">Older</a>
          <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
        </nav>

      </div><!-- /.blog-main -->

    </div><!-- /.row -->

</main><!-- /.container -->
{% endblock %}